.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#left {
  width: 400px;
}

#diagram {
  position: absolute;
  top: 0px;
  left: 400px;
}

.danger-zone {
  color: white;
  background-color: darkred;
}

button:disabled {
  background: #ccc;
}