.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#left {
  width: 450px;
  overflow-y: scroll;
  height: 900px;
}

#diagram {
  position: absolute;
  top: 0px;
  left: 450px;
}

.danger-zone {
  color: white;
  background-color: darkred;
}

button:disabled {
  background: #ccc;
}

div.option-div {
  padding-left: 5px;
}
div.option-div label {
  text-align: left;
}

.label-checkbox {
  padding-right: 5px;
  padding-left: 5px;
  display: inline;
}

.active-ep {
  color: green;
}

.display-span {
  font-weight: bold;
}

.github-picker {
  margin-top: 15px; 
  margin-bottom: 2px;
}